<!DOCTYPE html>
<html th:replace="layout/adminLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Book Form</h3>
                    </div>
                    <div class="card-body">
                        <form action="#" th:action="@{/admin/book-form}" th:object="${book}" method="post">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" id="title" th:field="*{title}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="yearpublished">Year Published</label>
                                <input type="date" id="yearpublished" th:field="*{yearPublished}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="publisher">Publisher</label>
                                <input type="text" id="publisher" th:field="*{publisher}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" step="any" id="price" th:field="*{price}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input type="number" id="quantity" th:field="*{quantity}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="genre">Genre</label>
                                <input type="text" id="genre" th:field="*{genre}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="imgUrl">Image Url</label>
                                <input type="text" id="imgUrl" th:field="*{imgUrl}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" th:field="*{description}" rows="3"
                                          cols="30"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="author">Author</label>
                                <select id="author" th:field="*{author.id}">
                                    <option th:each="au : ${authors}" th:text="${au.name}" th:value="${au.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" th:field="*{category.id}">
                                    <option th:each="cat: ${categories}" th:text="${cat.categoryName}"
                                            th:value="${cat.id}"></option>
                                </select>
                            </div>
                            <input type="submit" class="btn btn-primary btn-lg" value="Save Book">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>